.ib-block-control__color-picker > .components-base-control__field {
  margin-bottom: 16px; }
  .ib-block-control__color-picker > .components-base-control__field > .components-base-control__label {
    display: inline-block; }
  .ib-block-control__color-picker > .components-base-control__field .ib-block-control__color-picker-reset {
    height: 20px;
    vertical-align: top;
    padding: 0 5px;
    margin-right: 5px; }
    .ib-block-control__color-picker > .components-base-control__field .ib-block-control__color-picker-reset svg {
      width: 14px;
      height: 14px; }

.ib-block-control__color-picker-dropdown {
  float: right;
  position: relative; }
  .ib-block-control__color-picker-dropdown .ib-block-control__color-picker-value {
    min-width: 50px;
    height: 20px;
    margin: 0;
    border: 2px solid #fff;
    outline: 1px solid #ddd;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==");
    background-size: 10px;
    position: relative;
    box-shadow: none !important; }
    .ib-block-control__color-picker-dropdown .ib-block-control__color-picker-value:focus {
      outline: 1px solid #6c7781 !important;
      outline-offset: unset; }
    .ib-block-control__color-picker-dropdown .ib-block-control__color-picker-value span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.ib-block-control--panel > .components-base-control__field {
  position: relative; }
  .ib-block-control--panel > .components-base-control__field > .components-dropdown-menu {
    position: absolute;
    top: -3px; }
    .ib-block-control--panel > .components-base-control__field > .components-dropdown-menu > .components-dropdown-menu__toggle {
      max-height: 25px;
      max-width: 25px;
      min-width: 25px;
      min-height: 25px;
      padding: 0 3px;
      vertical-align: middle;
      margin-left: 10px;
      box-shadow: none !important;
      text-align: center;
      background: #e2e4e7;
      border-radius: 100%;
      border: 1px solid #e2e4e7; }

.ib-block-control--timepicker > .components-base-control__field {
  display: flex; }
  .ib-block-control--timepicker > .components-base-control__field > .components-base-control {
    max-width: 65px;
    margin-right: 10px;
    margin-bottom: 0; }

.ib-block-control--datetime .components-datetime {
  padding: 0; }

.ib-block-control--url input {
  max-width: 100%; }

button[class*="editor-block-list-item-ideabox-"] .block-editor-block-icon svg {
  fill: #fff;
  background: #2196F3;
  border-radius: 100%; }
